<div class="row-fluid">
  <h1><%= image_tag("DIUS_lightbg_@2x.png", class: 'logo') %></h1>
</div>
<% game = @games.first %>

<div class="row-fluid">
  <div class='span12'>
    <div class='well'>
      <%= link_to "New Player", new_player_path, class: "btn btn-primary" %>
      <%= link_to "Add Result", new_game_result_path(game), class: "btn btn-primary" %>

    </div>
  </div>
</div>
<div class="row-fluid">

  <div class='span5'>
    <ul id='games-list'>
      <li class="<%= "active" if @game == game %> game-list-item">
        <%= link_to game_path(game) do %>
            <h3 class='game-title'><%= game.name %></h3>
            <ul class='game-params'>
              <li class='rating-type'><%= game.rating_type %> – <%= game.allow_ties ? 'Ties allowed' : 'No ties' %></li>
              <li class='num-players'><%= game.players.length %> players</li>
              <li class='games-played'><%= game.results.length %> games played</li>
            </ul>
            <% result = game.recent_results.limit(1).first %>
            <% if result %>
                <div class='recent-result'>
                  <h4>Last game</h4>

                  <div class='description'>

                    <% result.teams.each_with_index do |team, i| %>
                        <% team.players.each do |winner| %>
                    <span class='player'>
                      <strong><%= winner.name %></strong>
                    </span>
                        <% end %>
                        <% if i == 0 %>
                            <% if result.tie? %>
                                ties
                            <% else %>
                                defeated
                            <% end %>
                        <% end %>
                    <% end %>
                    <br/>
                    <time><%= format_time(result.created_at) %></time>
                  </div>
                </div>
            <% end %>


        <% end %>
      </li>
    </ul>
  </div>

  <div class="span6">
    <h3>Current rankings</h3>
    <table>
      <thead>
      <tr>
        <th>Player</th>
        <th>Rating</th>
        <th><abbr title='Wins'>W</abbr></th>
        <th><abbr title='Losses'>L</abbr></th>
        <% if game.allow_ties %>
            <th><abbr title='Ties'>T</abbr></th>
        <% end %>
        <th><abbr title='Total Games'>Games</abbr></th>
        <th><abbr title='Win Loss Ratio'>W/L ratio</abbr></th>
        <th><abbr title='Current winning streak'>Winning streak</abbr></th>

      </tr>
      </thead>

      <tbody>
      <%= render partial: 'games/rating', collection: game.all_ratings, locals: {game: game} %>
      </tbody>
    </table>
  </div>

</div>

<div class="row-fluid">
    <div class="span12">
      <h3>How are the points calculated?</h3>
      <p>The Elo rating system is a method for calculating the relative skill levels of players in competitor-versus-competitor games such as chess.
        Each player has a rating, which is a number. A higher number indicates a better player, based on their results against other rated players.
        The winner of a contest between two players gains a certain number of points in his rating and the losing player loses the same amount.
        The number of points won or lost in a contest depends on the difference in the ratings of the players, so a player will gain more points by beating a higher-rated player than by beating a lower-rated player.
        In chess, for instance, if one player is rated 100 points higher than the other player, he is expected to win about five games out of eight, and the rating changes reflect that.
        Over a series of games, if a player does better than expected, based on the ratings (his compared to his opponents), his rating will go up.
        Beginner's will start with 1000 points.</p>

      <p>
        Read more about the Elo rating system <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here</a>.
      </p>
    </div>
</div>