<div class="row-fluid">
  <h1><%= image_tag("DIUS_lightbg_@2x.png", class: 'logo') %></h1>
</div>
<% game = @games.first %>

<div class="row-fluid">
  <div class='span12'>
    <div class='well'>
      <%= link_to "New Player", new_player_path, class: "btn btn-primary" %>
      <%= link_to "Add Result", new_game_result_path(game), class: "btn btn-primary" %>

    </div>
  </div>
</div>
<div class="row-fluid">

  <div class='span5'>
    <h3>Recent Results in <%= link_to game.name, game_path(game) %></h3>

    <% if game.recent_results.any? %>
        <%= render partial: 'shared/results', object: game.recent_results, locals: {show_game: false} %>  </div>
    <% end %>
  <div class="span6">
    <h3>Current rankings</h3>
    <table>
      <thead>
      <tr>
        <th>Player</th>
        <th>Rating</th>
        <th><abbr title='Wins'>W</abbr></th>
        <th><abbr title='Losses'>L</abbr></th>
        <% if game.allow_ties %>
            <th><abbr title='Ties'>T</abbr></th>
        <% end %>
        <th><abbr title='Total Games'>Games</abbr></th>
        <th><abbr title='Win Loss Ratio'>W/L ratio</abbr></th>
        <th><abbr title='Current winning streak'>Winning streak</abbr></th>

      </tr>
      </thead>

      <tbody>
      <%= render partial: 'games/rating', collection: game.all_ratings, locals: {game: game} %>
      </tbody>

    </table>
    <h3>How are the points calculated?</h3>
    <p>Click here to read about the Elo rating system <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here</a>.
    </p>
  </div>

</div>

<div class="row">
      <%= line_chart @chart_data, min: nil, max: nil %>
</div>