<div class="row-fluid">
  <div class="span6">
    <h2>Daily Rankings</h2>
    <table>
      <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th><abbr title='Wins'>W</abbr></th>
        <th><abbr title='Losses'>L</abbr></th>
        <% if @game.allow_ties %>
            <th><abbr title='Ties'>T</abbr></th>
        <% end %>
        <th><abbr title='Total Games'>Games</abbr></th>
        <th><abbr title='Win Loss Ratio'>W/L ratio</abbr></th>
      </tr>
      </thead>
      <tbody>
      <% ratings = @game.all_ratings_with_players_active_today %>
      <% ratings.each_with_index do |rating, rating_counter| %>

          <tr>
            <td><%= rating_counter + 1 %></td>
            <td>
              <div class='player'>
                <%= player_avatar_tiny(rating.player) %>

                <%= link_to rating.player.name, player_game_path(rating.player, @game) %>
              </div>
            </td>

            <td><%= rating.player.total_wins_for_today(rating.game) %></td>
            <td><%= rating.player.results.for_game(rating.game).losses.today.size %></td>
            <td><%= rating.player.results.for_game(rating.game).today.size %></td>
            <td><%= number_to_percentage(rating.player.win_loss_ratio_for_today(rating.game), :precision => 0) %></td>

          </tr>


      <% end %>


      </tbody>
    </table>
  </div>
</div>
