
    <tr>
      <td><%= rating_counter + 1 %></td>
      <td>
        <div class='player'>
          <%= player_avatar_tiny(rating.player) %>

          <%= link_to rating.player.name, player_game_path(rating.player, game) %>
        </div>
      </td>

      <td><%= rating.value %></td>
      <td><%= rating.player.total_wins(rating.game) %></td>
      <td><%= rating.player.results.for_game(rating.game).losses.size %></td>
      <% if game.allow_ties %>
          <td><%= rating.player.total_ties(rating.game) %></td>
      <% end %>
      <td><%= rating.player.results.for_game(rating.game).size %></td>
      <td><%= number_to_percentage(rating.player.win_loss_ratio(rating.game), :precision => 0) %></td>
      <td><%= rating.player.streak(rating.game) %></td>
      <td><span class="lastn"><%= rating.player.last_n(rating.game, 10) %></span></td>

    </tr>

